@use "../utils/" as u;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family), sans-serif;
    background-color: var(--color-grey-200);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: u.rem(40);
}

header {
    margin-top: u.rem(32);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
