@use "../utils/" as u;

$spacing-100: 8;
$spacing-200: 16;
$spacing-300: 24;
$spacing-400: 32;
$spacing-500: 40;
$spacing-600: 48;
$spacing-1000: 80;
$spacing-1200: 96;
$spacing-1500: 120;
$spacing-1600: 128;

fieldset {
    border: none;
}

label,
legend {
    @include u.text-preset-5;
}

input[type="number"] {
    width: 100%;
    height: u.rem(48);
    padding: u.rem($spacing-100) u.rem($spacing-200);
    background-color: var(--color-grey-50);
    border: none;
    border-radius: u.rem(5);
    color: var(--color-green-900);
    text-align: right;

    @include u.text-preset-3;
}

input[type="number"]::placeholder {
    color: var(--color-grey-300);
}

input[type="radio"] {
    display: none;
}

.app__card {
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    padding: u.rem($spacing-400) u.rem($spacing-300);
    border-radius: u.rem($spacing-200) u.rem($spacing-200) 0 0;
    display: flex;
    flex-direction: column;
    gap: u.rem($spacing-400);

    @include u.breakpoint(small) {
        max-width: u.rem(608);
        border-radius: u.rem($spacing-200);
        padding: u.rem($spacing-600) u.rem($spacing-1000);
        gap: u.rem($spacing-500);
    }

    @include u.breakpoint(medium) {
        flex-direction: row;
        max-width: u.rem(920);
        padding: u.rem($spacing-400);
        gap: u.rem($spacing-600);
    }

    &--form {
        display: flex;
        flex-direction: column;
        gap: u.rem($spacing-400);
        padding: 0 u.rem($spacing-100);

        @include u.breakpoint(small) {
            padding: 0;
            gap: u.rem($spacing-300);
        }

        @include u.breakpoint(medium) {
            flex-grow: 1;
            justify-content: center;
        }

        & .app__card--bill {
            display: flex;
            flex-direction: column;

            & > label {
                color: var(--color-grey-500);
                margin-bottom: u.rem($spacing-100);
            }
        }

        & .app__card--tip {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: u.rem($spacing-200);

            @include u.breakpoint(small) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            & .radio__container {
                background-color: var(--color-green-900);
                color: var(--color-white);
                padding: u.rem($spacing-100) u.rem($spacing-200);
                border: none;
                border-radius: u.rem(5);
                text-align: center;

                & label {
                    @include u.text-preset-3;
                }

                &:last-child {
                    background-color: var(--color-grey-50);
                    color: var(--color-grey-550);
                }
            }

            & > legend {
                display: block;
                color: var(--color-grey-500);
                margin-bottom: u.rem($spacing-100);
            }
        }

        & .app__card--people {
            display: flex;
            flex-direction: column;

            & > label {
                color: var(--color-grey-500);
                margin-bottom: u.rem($spacing-100);
            }
        }
    }

    &--input-container {
        position: relative;

        & img {
            position: absolute;
            top: u.rem(16);
            left: u.rem(16);
        }
    }

    &--results {
        padding: u.rem($spacing-300);
        background-color: var(--color-green-900);
        border-radius: u.rem(15);
        width: 100%;

        @include u.breakpoint(small) {
            padding: u.rem($spacing-500);
        }

        @include u.breakpoint(medium) {
            max-width: u.rem(400);
        }

        & h3 {
            color: var(--color-white);

            @include u.text-preset-5;
        }

        &-person {
            color: var(--color-grey-400);

            @include u.text-preset-6;
        }

        &-number {
            color: var(--color-green-400);
            @include u.text-preset-2;
        }

        & div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & > div:first-child {
            margin-bottom: u.rem($spacing-300);

            @include u.breakpoint(medium) {
                margin-bottom: u.rem($spacing-500);
            }
        }

        & > div + div {
            margin-bottom: u.rem($spacing-400);

            @include u.breakpoint(medium) {
                margin-bottom: u.rem($spacing-1600);
            }
        }

        & button {
            width: 100%;
            height: u.rem(48);
            padding: u.rem($spacing-100) u.rem($spacing-400);
            background-color: var(--color-green-200);
            color: var(--color-green-900);
            border: none;
            border-radius: u.rem(5);
            cursor: pointer;

            @include u.text-preset-4;

            &:disabled {
                cursor: not-allowed;
                background-color: var(--color-green-750);
                color: var(--color-green-800);
            }
        }
    }
}
